* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0c051c;
}

a {
  text-decoration: none;
  color: #f69dda;
}

.full {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fadein {
  -webkit-animation: fadein 3s ease;
          animation: fadein 3s ease;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0c051c;
  position: fixed;
  width: 100%;
  height: 5em;
  padding: 0 1.5em;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: .5em;
}

#links {
  font-size: 1.5em;
}

.orange {
  color: #fb953d;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.yellow {
  color: #fee59a;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.green {
  color: #bfef6d;
  -webkit-transition: all .25s;
  transition: all .25s;
}

main {
  color: #75c3b1;
  background-image: radial-gradient(circle at 78% 11%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 92% 82%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 77% 66%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 4% 66%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 31% 8%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 48% 76%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 70% 42%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 20% 98%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 53% 62%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 39% 71%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 35% 91%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 29% 20%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 34% 23%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 50% 71%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 63% 75%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 20% 94%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 5%, transparent 5%, transparent 100%), linear-gradient(135deg, #0c051c, #130632);
  font-weight: 200;
}

.bio {
  max-width: 600px;
}

.x {
  padding: 3em;
}

.x p {
  margin-bottom: 1.5em;
}

#portfolio {
  text-align: center;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  will-change: opacity;
}

.cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  will-change: opacity;
  background-color: #130632;
  border-radius: 2em;
  padding: 1em;
  max-width: 900px;
  width: 100%;
}

.cloud h2 {
  text-transform: lowercase;
  font-weight: 900;
  color: #f69dda;
  font-size: 2em;
  text-align: center;
  padding-bottom: .5em;
}

.cloud h3 {
  padding-top: .5em;
}

.cloud p {
  padding: .5em 2em;
  font-weight: 400;
  font-size: 1.15em;
  color: white;
  line-height: 1.75;
  letter-spacing: .5px;
}

.cloud p i {
  color: #75c3b1;
}

#about img {
  height: 300px;
  float: left;
  border-radius: 20em;
  opacity: .7;
  padding: 2em;
}

#about img:hover {
  opacity: .9;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-visible {
  opacity: 1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c051c;
  padding: 1em;
  margin: .5em;
  border-radius: 2em;
  width: 400px;
  height: 350px;
}

.card img {
  width: 350px;
}

.card:hover {
  background-color: #130632;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-box-shadow: 1px 1px 5px #0c051c;
          box-shadow: 1px 1px 5px #0c051c;
}

.card:hover img {
  width: 360px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

footer {
  background-color: #0c051c;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f69dda;
}
/*# sourceMappingURL=styles.css.map */
