// Variables

// Colors
$secondary-color: #eedfff;
$navlinks: #df1695;
$navlinkss: #df1695;
$pink: #b1407e;
$blue: #40b1af;
$fuschia: #9a1a8e;
$dark: #421873;
$darkest: #1b0437;
$grey: #40374d;

// Media 
$mobile: 450px;
$medium: 900px;
$large: 1175px;
// other
$container-width: 1010px;
$navbar-width-lg: 20%;
$my-gradient: linear-gradient(90deg, #e8d263 7.29%, #40B1AF 49.48%, #B1407E 89.06%);